



*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.navbar{
  background-color: #A16D28 !important;
  border: white;
  
}

#nav-link{
  color: antiquewhite !important ;
  margin-right: 60px !important;
  font-weight: bolder !important;
  text-decoration: none;
}

#navbarNav{
   
   margin-right: 80px;
   
   justify-content: center
}

.gradient {
  background:rgb(255, 208, 0);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
   
}


.flicker-text {
  color: #cf1515;
  text-shadow: 0 0 5px #fff, 
               0 0 10px #a0821e, 
               0 0 20px #e99a39, 
               0 0 40px #e1861f;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow: 0 0 5px #fff, 
                 0 0 10px #ec1212, 
                 0 0 20px #d68431, 
                 0 0 40px #db6f10;
  }

  20%, 24%, 55% {
    opacity: 0.4;
    text-shadow: none;
  }
}





.scroll-wrapper {
  overflow-x: hidden; /* allow vertical scroll, block only sideways */
  position: relative;
  width: 100%;
}

.scroll-content {
  display: flex;
  gap: 20px;
  width: fit-content;
  animation: scroll-left 30s linear infinite;
}

.scroll-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
}

/* Adjust scroll distance based on number of images shown */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.link{
  color: rgb(237, 192, 12) !important;
    text-decoration: underline !important;
     text-underline-offset: 8px; /* Adjust the gap */
     font-weight:900;
}
